<%- include ("../partials/header") %>

<main>
    <div class="px-3">
        <div class="theme-container">
            <div class="page-drawer-container mt-3">
                <aside class="mdc-drawer mdc-drawer--modal page-sidenav">
                    <a href="#" class="h-0"></a>
                    <div class="mdc-card">
                        <div class="row start-xs middle-xs p-3">
                            <img src="/assets/images/others/user.jpg" alt="user-image" class="avatar">
                            <h2 class="text-muted fw-500 mx-3"><%= currentUser.name %> </h2>
                        </div>
                        <hr class="mdc-list-divider m-0">
                        <ul class="mdc-list">
                            <% if(currentUser.userType === "ADMIN") { %>
                            <li>
                                <a href="/user" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">group</span>
                                    <span class="mdc-list-item__text">Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/builder" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">apartment</span>
                                    <span class="mdc-list-item__text">Builders</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/register" class="mdc-list-item py-1">
                                    <span
                                        class="mdc-list-item__graphic material-icons text-muted mx-3">person_add</span>
                                    <span class="mdc-list-item__text">Register User</span>
                                </a>
                            </li>
                            <li>
                                <a href="/builder/submit" class="mdc-list-item py-1">
                                    <span
                                        class="mdc-list-item__graphic material-icons text-muted mx-3">add_circle</span>
                                    <span class="mdc-list-item__text">Submit Builder</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/all-properties" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">storage</span>
                                    <span class="mdc-list-item__text">All Properties</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/leads" class="mdc-list-item py-1">
                                    <span
                                        class="mdc-list-item__graphic material-icons text-muted mx-3">person_pin</span>
                                    <span class="mdc-list-item__text">Leads</span>
                                </a>
                            </li>
                            <hr class="mdc-list-divider m-0">
                            <% } %>
                            <li>
                                <a href="/account/profile" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">person</span>
                                    <span class="mdc-list-item__text">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/my-properties" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">view_list</span>
                                    <span class="mdc-list-item__text">My Properties</span>
                                </a>
                            </li>
                            <li>
                                <a href="/listingOperation/favourite" class="mdc-list-item py-1">
                                    <span class="mdc-list-item__graphic material-icons text-muted mx-3">favorite</span>
                                    <span class="mdc-list-item__text">Favorites</span>
                                </a>
                            </li>
                            <li>
                                <a href="/listing/submit" class="mdc-list-item py-1">
                                    <span
                                        class="mdc-list-item__graphic material-icons text-muted mx-3">add_circle</span>
                                    <span class="mdc-list-item__text">Submit Property</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/logout" class="mdc-list-item py-1">
                                    <span
                                        class="mdc-list-item__graphic material-icons text-muted mx-3">power_settings_new</span>
                                    <span class="mdc-list-item__text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div class="mdc-drawer-scrim page-sidenav-scrim"></div>
                <div class="page-sidenav-content">
                    <div
                        class="row mdc-card between-xs middle-xs w-100 p-2 mdc-elevation--z1 text-muted d-md-none d-lg-none d-xl-none mb-3">
                        <button id="page-sidenav-toggle" class="mdc-icon-button material-icons">more_vert</button>
                        <h3 class="fw-500">My Account</h3>
                    </div>
                    <div class="mdc-card p-3">
                        <div class="mdc-text-field mdc-text-field--outlined custom-field w-100">
                            <input id="my-properties-search" class="mdc-text-field__input"
                                placeholder="Type to filter properties">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">Filter properties</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-data-table border-0 w-100 mt-3">
                            <table id="my-properties" class="mdc-data-table__table" aria-label="Dessert calories">
                                <thead>
                                    <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell">#</th>
                                        <th class="mdc-data-table__header-cell">Title</th>
                                        <th class="mdc-data-table__header-cell">Status</th>
                                        <th class="mdc-data-table__header-cell">Location</th>
                                        <th class="mdc-data-table__header-cell">Last Modified</th>
                                        <th class="mdc-data-table__header-cell text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="mdc-data-table__content">
                                    <% listings.forEach((listing, index) => { %>
                                    <tr class="mdc-data-table__row">
                                        <td class="mdc-data-table__cell">
                                            <%= index + 1 %>
                                        </td>
                                        <td class="mdc-data-table__cell">
                                            <a href="/listing/<%= listing._id %>"
                                                class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary normal">
                                                <%= listing.listingInfo.title %>
                                            </a>
                                        </td>
                                        <td class="mdc-data-table__cell <%= getStatusColor(listing.status) %>">
                                            <%= listing.status %>
                                        </td>
                                        <td class="mdc-data-table__cell">
                                            <%= listing.location.sector + ", " + listing.location.city %>
                                        </td>
                                        <td class="mdc-data-table__cell">
                                            <%= moment(listing.lastModified).format("DD-MMM-YY hh:mm A") %>
                                        </td>
                                        <td class="mdc-data-table__cell d-flex justify-content-between">
                                            <% if (page === "all-properties") { %>
                                            <% if (listing.status === "PENDING") { %>
                                            <form action="/listing/<%= listing._id %>/LIVE?_method=PUT" method="POST">
                                                <button title="Approve Listing" type="submit"
                                                    class="mdc-icon-button material-icons success-color">playlist_add_check</button>
                                            </form>
                                            <% } %>
                                            <form action="/listing/<%= listing._id %>/REJECTED?_method=PUT"
                                                method="POST">
                                                <button title="Reject Listing" type="submit"
                                                    class="mdc-icon-button material-icons warn-color">cancel</button>
                                            </form>
                                            <% } %>
                                            <a href="/listing/<%= listing._id %>/edit" title="Edit"
                                                class="mdc-icon-button material-icons primary-color">edit
                                            </a>
                                            <form action="/listing/<%= listing._id %>/DELETED?_method=PUT"
                                                method="POST">
                                                <button title="Delete Listing" type="submit"
                                                    class="mdc-icon-button material-icons warn-color">delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="pagination-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% function getStatusColor(status) {
    let color;
    switch(status) {
        case "PENDING": 
            color = "warn-color"
            break;
        case "REJECTED": 
        color = "error-color"
            break;
        case "LIVE": 
            color = "success-color"
            break;
        case "DELETED": 
            color = "error-color"
            break;
        case "SOLD": 
            color = "secondary-color"
            break;
    }
    return color;
} %>

<%- include ("../partials/footer") %>